#start-count {
    padding: 10px 8px;
    background-color: green;
    border-radius: 50px;
    border: none;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

#start-count:hover {
    background-color: yellow;
    color: black;
}


.el1,
.el2,
.el3 {
    width: 50px;
    height: 50px;
    background-color: gray;
    position: relative;
    margin: 10px;
}



body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#gameButton {
    padding: 20px 40px;
    font-size: 20px;
    cursor: pointer;
}

#stats {
    margin-top: 20px;
    font-size: 18px;
}

#startCount{
    padding: 15px 30px;
}

#userTime{
    width: 300px;
}

